<ion-header>
  <ion-toolbar>
    <ion-title>
      Restablecer Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-password-wrapper">
    <ion-item>
      <ion-input [(ngModel)]="email" type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="resetPassword()">Enviar enlace de restablecimiento</ion-button>

    <div class="back-to-login">
      <a href="/login">Volver al inicio de sesión</a>
    </div>
  </div>
</ion-content>
