.logo {
  width: 50%;
  margin: 10% 0 20% 0;
}

.letrapequena {
  font-size: 0.8em;
  text-align: justify;
  font-family: 'SourceSans';
}

.letramediana {
  font-size: 1.5em;
  text-align: justify;
  font-family: 'SourceSans';
  font-weight: bold;

}

.login-border {
  --padding-start: 10px !important;
  color: #999999;
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;
}

.transparente {
  background: transparent;
}