<ion-header #header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" size="small" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <ion-icon name="notifications-outline" size="medium"></ion-icon>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>

    <ion-item *ngFor="let tweet of tweets">

      <ion-avatar color="dark"slot="start">
        <img src="{{ tweet.img }}" alt="Avatar">
      </ion-avatar>

      <ion-label>
        <h2 >{{ tweet.username }}</h2>
        <h3 >@{{ tweet.handle }}</h3>
        <p>{{ tweet.text }}</p>

        <img src="{{ tweet.img }}" alt="Tweet">

        <ion-row class="engagement">

          <ion-col size="4">
            <ion-icon name="heart" class="icon"></ion-icon>
            <span>{{ tweet.like }}</span>
          </ion-col>

          <ion-col size="4">
            <ion-icon name="repeat" class="icon"></ion-icon>
            <span>{{ tweet.retweets }}</span>
          </ion-col>

          <ion-col size="4">
            <ion-icon name="chatbubble-ellipses" class="icon"></ion-icon>
            <span>{{ tweet.response }}</span>
          </ion-col>

        </ion-row>

      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>






