<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="registerUser()" #registerForm="ngForm">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario</ion-label>
          <ion-input type="text" name="username" required [(ngModel)]="user.username"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" name="email" required [(ngModel)]="user.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" name="password" required [(ngModel)]="user.password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input type="password" name="confirmPassword" required [(ngModel)]="user.confirmPassword"></ion-input>
        </ion-item>
  
        <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

