<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="dark">

<ion-icon name="notifications-outline" style="zoom:3.0;" class="logo"></ion-icon>
  
  <div class="espacioabajo">
  <ion-title class="texto letramediana">Registrate en</ion-title>
  <ion-title class="texto letrapequena">EmergenciaAPP - DUOCUC</ion-title>
  </div>  

  <div class="" color="dark">

      <form color="dark" (ngSubmit)="registerUser()" #registerForm="ngForm">

        <ion-item lines="none" color="dark" >

          <ion-input   [(ngModel)]="user.username" type="text" class="login-border" placeholder="Nombre de usuario" name="username">
          </ion-input>

        </ion-item>

        <ion-item lines="none" color="dark" >

          <ion-input   [(ngModel)]="user.email" type="email" class="login-border" placeholder="Correo" name="email">
          </ion-input>
          
        </ion-item>

  
        <ion-item lines="none" color="dark">
          <ion-input placeholder="Contraseña" type="password" name="password" class="login-border" required [(ngModel)]="user.password"></ion-input>
        </ion-item>
  
        <ion-item lines="none" color="dark">
          <ion-input class="login-border" placeholder="Confirmar contraseña" type="password" name="confirmPassword" required [(ngModel)]="user.confirmPassword"></ion-input>
        </ion-item>
  

        
         <div class="ion-padding-top espacio" color="dark">
          <ion-button [disabled]="!registerForm.valid" shape="round" class="letrapequena" fill="block" type="submit">
            Registrarse
          </ion-button>
          <ion-button color="light" class="masancho letrapequena" shape="round" (click)="volver()" fill="outline">
            Volver
           </ion-button>
        </div>
      </form>
  </div>
</ion-content>


